body {
    background-color: #303036;
}

#bg-shape {
    position: relative;
}

#bg-shape:after {
    content: '';
    position: absolute;
    width: 450px;
    height: 450px;
    background: #77B7FF;
    top: 0;
    right: 50px;
    z-index: -1;
}

a,
p,
h1,
h2,
span {
    font-family: 'Montserrat',
        sans-serif;
    font-family: 'Nanum Pen Script',
        cursive;
    font-family: 'Poppins',
        sans-serif;
}

a {
    font-size: 16pt !important;
}

#hero>div>div {
    background-image: url(Assets/Images/codebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#navbar-items a {
    color: #FFFAFF !important;
}

#navbar-items a:hover {
    text-decoration: underline;
}

.navbar {
    margin-left: 200px !important;
    margin-right: 200px !important;
}

#about,
#skills {
    margin-top: 200px;
}

.overlay {
    width: 1%;
    height: 250px;
    background-color: #0075F6;
    z-index: -1;
    position: absolute;
    display: block;
    margin-top: 60px;
    margin-left: -60px;
}

#skills p,
#skills h1 {
    text-align: center;
}

.skillcards {
    background-color: #FFFAFF;
    width: 300px;
    height: 300px;
}

.skillcards b {
    position: relative;
}

.skillcards b::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    background: #000000;
    margin: 0 auto;
}

.skillcards #learning::after {
    top: 28px;
    right: 18px;
}

.skillcards #creatingin::after {
    top: 28px;
    right: 29px;
}

.skillcards #exploring::after {
    top: 28px;
    right: 21px;
}

.skillcards li {
    text-align: center;
    padding: 3px 0px;
}

@media(min-width:993px) {
    #navbar-items {
        gap: 75px;
    }

    #abouttext {
        padding-left: 30px;
    }

    #about {
        padding: 0px 50px !important;
    }

    #hero {
        margin-top: 75px;
    }
}

@media (max-width:1080px) and (min-width:768px) {
    .navbar {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }

    #bg-shape::after {
        width: 350px;
    }
}

@media (max-width:992px) {
    #navbar {
        background-color: black;
    }
}

@media (max-width:767px) {
    .navbar {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    #menubuttontext {
        padding-left: 5px;
        font-size: smaller;
    }

    #navbar-items a {
        font-size: 12pt !important;
    }

    #bg-shape::after {
        width: 250px;
        right: 0;
    }

    #hero {
        margin: 0 50px;
    }

    #hero h1 {
        text-align: center;
    }

    #hero img {
        width: 250px !important;
    }

    #about {
        margin: 100px 50px;

    }

    #abouttext {
        text-align: justify;
    }

    #abouth1 {
        text-align: center;
    }
}